<div class="login text-center">
    <div class="col-md-offset-1 col-md-3">
        <img src="./content/img/logo.png" class="img-fluid" alt="Banco Guanabara">
    </div>
    <div class="col-md-offset-2 col-md-3">
        <div class="col-md-12 dvLogin">

            <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>

                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-label" for="inputConta">SUA CONTA</label>
                        <input id="inputConta" class="form-input" name="accountnumber" [(ngModel)]="model.accountnumber" placeholder="______-_" autofocus="" style="width:130px;float:left;" aria-describedby="basic-addon2" #accountnumber="ngModel" required>
                    </div>
                </div>
                <div class="col-md-12 btn-submit">
                    <button class="btn btn-sm btn-default btn-block">LOGIN</button>
                </div>

            </form>

        </div>
    </div>
</div>
<script>
        $('input').focus(function () {
            $(this).parents('.form-group').addClass('focused');
        });

        $('input').blur(function () {
            var inputValue = $(this).val();
            if (inputValue == "") {
                $(this).removeClass('filled');
                $(this).parents('.form-group').removeClass('focused');
            } else {
                $(this).addClass('filled');
            }
        });

        //angular.module('myApp', [])
        //    .controller('loginCtrl', ['$scope', '$http', function ($scope, $http) {
        //        $scope.Usuario = {
        //            Conta: "",
        //            Id: "0",
        //            Senha: ""
        //        };
        //        $scope.usuariosSelecionaveis = [{ nome: "Administrador", id: 1 }, { nome: "Vizualização", id: 3 }]
        //        $scope.realizaLogin = true;
        //        $scope.selecaoUsuario = false;

        //        $scope.buscarUsuario = function () {
        //            //console.log("Nome escrito", $scope.Usuario.Conta);
        //            if ($scope.Usuario.Conta != "")
        //                //$scope.exibirSelecaoUsuario();
        //                location.href = "selecionarUsuario_2.html";
        //           else
        //               $scope.Mensagem = "Usuário Inválido";
        //        };
        //        /*
        //        $http.jsonp('selecionarUsuario.html')
        //            .then( console.log(value), errorCallback);
        //        */
        //    }]);
    </script>