.login {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #950000;
    background-image: url('../../content/img/background_v2.jpg');
    background-repeat: repeat;
}

.alpha70 {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(255, 255, 255);
    /* RGBa with 0.6 opacity */
    background-color: rgba(255, 255, 255, 0.85);
    /* For IE 5.5 - 7*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.dvLogin {
    padding: 15px;
}

.form-wrapper {
    max-width: 30%;
    min-width: 300px;
    padding: 50px 30px 50px 30px;
    margin: 50px auto;
    background: transparent;
    color: white;
    border-radius: 5px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
}

.form-group {
    position: relative;
    & + .form-group

{
    margin-top: 30px;
}

}

.form-label {
    position: absolute;
    left: 0;
    top: 10px;
    background: transparent;
    color: white;
    z-index: 10;
    font-size: 1.5em;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
}

.focused .form-label {
    transform: translateY(-125%);
    font-size: 1.5em;
    background: transparent;
    color: white;
}

.form-input {
    background: transparent;
    color: white;
    position: relative;
    padding: 12px 0px 5px 0;
    width: 100%;
    outline: 0;
    border: 0;
    box-shadow: 0 1px 0 0 #e5e5e5;
    transition: box-shadow 150ms ease-out;
    font-size: 1.5em;
    &:focus

{
    box-shadow: 0 2px 0 0 blue;
}

}

.form-input.filled {
    box-shadow: 0 2px 0 0 lightgreen;
}

.btn-submit {
    width: 160px !important;
    margin-top: 10px;
}
